* {
  margin: 0; /* Zerar a margem externa dos elementos. */
  padding: 0; /* Zerar a margem interna dos elemnetos. */
}
header {
  /* Vamos adcionar uma imagem de fundo ao cabeçalho. */
  background-image: url("../img/cafeteria6.jpg");
  /* Determina a imagem a ser usada no background. */
  background-position: 0px -450px;
  /* Determina a posição do background com relação ao eixo "X e Y" */
  height: 300px;
  /* Dtermina a altura do cabeçalho. */
  transition: ease 1s;
  /* Ira determinar o tempo de animação. */
}
h1 {
  color: rgb(63, 46, 46);
  /* Determina a cor da fonte. */
  text-align: center;
  /* Alinha o texto ao centro. */
  font-family: "Fjalla One";
  /* Determina a fonte a ser utilizada no texto. */
  font-size: 40pt;
  /* Determina o tamanho da fonte. */
  padding-top: 100px;
  /* Dtermina o tamanho da margem do topo. */
  /* text-shadow: 5px 5px 5px rgb(0, 0, 0); */
  /* Dermina a cor do efeito de sombra incluso no texto. */
}
/* Vamos formatar os elementos de li para ficar um ao lado do outro,
com o comando display. */
nav ul li {
  /* Dispor os links um ao lado do outro. */
  display: inline-block;
  margin-left: 110px;
  margin-right: 110px;
}
/* Alinhar os elementos de link ao centro usando text-align center no nav, 
assim tudo que estiver dentro do nav ira para o centro. */
nav {
  text-align: center;
  margin-top: 100px;
  /* A cor utilizada para o fundo da nav foi o rgba, que 
  significa red green blue e alpha(tranparência), onde 
  o valor mais próximo do 0 é totalmente transparente e
  quando mais próximo do 1 é totalmente solido. Neste caso 
  estamos usando 100% de solidez, ou seja, aplicamos
  0% de transparência. */
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 2px;
}

nav ul li a {
  color: rgb(211, 114, 3);
  /* Para retirar o sublinhado(underline) dos links
  utilizaremos o comando text-decoration com o valor none(nehum). */
  text-decoration: none;
  font-family: "Roboto Slab";
  /* Aplicação de negrito na letra */
  /* font-weight: bold; */
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  /* padding-left: 10px; */
  /* background-color: rgb(255, 255, 255); */
}

/* Criação da formatação do rodapé(footer). */
footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Teko";
  padding-top: 20px;
  font-size: large;
}

div ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
}

div a {
  color: rgb(211, 114, 3);
  text-decoration: none;
  padding: 10px;
}

main {
  /* Vamos aplicar uma margem interna de 20px,
  Utilizaremos o comando padding. */
  padding: 20px;
}
h2 {
  font-family: "Roboto Slab";
  color: rgb(211, 114, 3);
  font-size: 20pt;
  border-bottom: 3px double rgb(211, 114, 3);
  margin-left: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}
h3 {
  font-family: "Roboto Slab";
  margin-left: 70px;
  font-size: 15pt;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;
  /* Aplicaremos um comando que aumenta a altura da linha. Esse efeito
  simula o espaçamento entre linhas encontrado no word. O coomando é 
  line-height -> linha height */
  line-height: 20px;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12pt;
}

#home {
  text-align: center;
}

#home img {
  height: 600px;
  width: 600px;
  margin: 25px;
  /* Vamos aplicar um efeito de transparênia 
  com o comando opacity. Onde os valores 1
  é totalmente visível e 0 é totalmente
  transparente.  */
  opacity: 0.9;
  border-radius: 10%;
  transition: ease 0.9s;
}

#home img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  /* transform: rotate(360deg); */
}

#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 750px;
  height: 600px;
  border-radius: 15%;
  transition: ease 0.9s;
  padding-bottom: 30px;
}

#acafeteria iframe {
  margin-left: auto;
  margin-right: auto;
}
#video {
  text-align: center;
}

/* Abaixo a fprmatação para a página cardápio. */
#container,
#linha,
#imagem,
#texto {
  /* border: 1px solid black; */
}

#container {
  display: inline-block;
  /* border-bottom: 1px solid silver; */
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px silver;
}

#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#imagem img {
  width: 200px;
  height: 200px;
}
#imagem {
  width: 200px;
  height: 200px;
  /* Fazer a imagem flutuar para a esquerda */
  float: left;
}
#texto {
  padding: 20px;
  width: 80%;
  float: left;
}

form {
  border: 1px solid black;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 0;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
}

label {
  /* Para dispor os elementos um abaixo do outro
  utilizaremos o comando display block */
  display: block;
  /* Aplicar negrito usamos o comando font-weight com o valor bold */
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 0;
  border-bottom: 1px solid black;
}
input[type="tel"] {
  width: 40%;
}
#sexo {
  display: block;
  margin-bottom: 15px;
  padding-top: 5px;
}
select {
  padding: 10px;
  width: 20%;
}
select.option:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
}
textarea {
  width: 60%;
  height: 300px;
  display: block;
}
input[type="submit"] {
  display: block;
  border: 0;
  color: white;
  padding: 5px;
  background-color: black;
  cursor: pointer;
}
